.signup {
  max-width: 500px;
  margin: 0 auto;
}
.signup__card {
  display: flex;
  flex-direction: column;
  padding: 30px;
  justify-content: space-around;
  background-color: rgba(255, 255, 255, 0.726) !important;
}

.signup__form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
